a
{
	color: #7689DE;
	text-decoration: none;
	font-family: arial;
}

h1
{
	color: #7689DE;
	font-family: arial black;
}

h2
{
	font-family: arial;
	color: #7689DE;
}

.rlogo_img
{
	width: 70px;
	float: right;
}
.productImg
{
	width: 400px;
}

.tableHome
{
	border: none;
	background-color: #A9DCE3;
	text-align: center;
	height: 40px;
	width: 120px;
	color: #A9DCE3;
}

.hrAbout
{
	background-color: #A9DCE3;
	width: 80px;
	height: 4px;
	border: none;
}
p
{
	font-family: arial;
	color: #7689DE;
}

.searchBar
{
	height: 25px;
	width: 250px;
	font-size: 15px;
	border: none;
	background-color: #A9DCE3;
}

.searchBarButton
{
	height: 25px;
	width: 90px;
	font-size: 15px;
	background-color: #7689DE;
	border: none;
	color: #A9DCE3;
	font-weight: bold;
	font-family: arial;
	border-top: 10px;
	position: absolute;
}

button
{
	font-family: arial;
	font-size: 14px;
	border: none;
	background-color: #A9DCE3;
	padding: 5px 16px;
	color: #5D74DA;
	font-weight: bold;
}

table
{
	border: 1px solid #A9DCE3;
	border-collapse: collapse;
	width: 350px;
	height: 150px;
}

.wishlistcartButton
{
	border: none;
	background-color: #A9DCE3;
	text-align: center;
	height: 40px;
	width: 205px;
	color: #ffff;
}

.wishlistcartA
{
	color: white;
	font-weight: bold;
}

.checkoutH2

{
	font-family: arial;
	color: #7689DE;
}

h3
{
	font-family: arial;
	color: #5EC2D0;
}

hr
{
	background-color: #7689DE;
	border: none;
	height: 5px;
}

.billingForm
{
	font-family: arial;
	color: #7689DE;
	font-size: 15px;
	width: 100%;
}

input[type=text]
{
	width: 250px;	
	border-collapse: collapse;
	border: 2px solid #A9DCE3;
	border-radius: 3px;
}

input[type=number]
{
	width: 250px;	
	border-collapse: collapse;
	border: 2px solid #A9DCE3;
	border-radius: 3px;
}

.checkoutButton
{
	color: #7689DE;
	font-size: 15px;
}

.regloginTable
{
	font-family: arial;
}

.regloginForm
{
	font-family: arial;
	color: #7689DE;
}

.regTable
{
	border: 1px solid #A9DCE3;
	border-collapse: collapse;
	width: 350px;
	
}

.regloginButton
{
	font-family: arial;
}
